<div class="container" >
  <h2>Comments</h2>
      <div class="row">
        


  <div ng-repeat="comment in book.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)" ></span>
    {{comment.upvotes}}
  <span style="font-size:20px; margin-left:10px; color:blue;">
       {{comment.author}} 
    </span>
  said:</br>
    <span style="font-size:20px; margin-left:50px;">
        {{comment.body}}
    </span>
    </br></br>
  </div>

 
     </div>
     