<div class="container" >
<div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </br>
  </br>
        <span>
                  <a href="/newbook" class="btn btn-warning">Add New Book</a>
        </span>
      </br></br>
      <span>
                  <a href="/films" class="btn btn-info">Turn to Films</a>
        </span>
    </div>
        

   <div class="col-md-10">

     <ul  class="books">
        <li ng-repeat="book in books | filter:{name: query } | orderBy:orderProp" class="thumbnail">
		

      <a href="/books/{{book._id}}/detail" class="thumb"><img ng-src="{{book.imageUrl}}"></a></br></br></br>
      <span class="glyphicon glyphicon-thumbs-up"
                     ng-click="incrementUpvotes(book)">                 </span>
                     {{book.upvotes}}
           <a href="/books/{{book._id}}/detail">{{book.name}}</a>
           <p>{{book.description}}</p>
        <button ng-click="bookDelete(book._id)">Delete</button>
        </li>
      </ul>
    </div>
    </div>