<div class="container" >
<div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </br>
  </br>
        <span>
                  <a href="/newfilm" class="btn btn-warning">Add New Film</a>
        </span>
        </br></br>
      <span>
                  <a href="/books" class="btn btn-info">Turn to Books</a>
        </span>
    </div>
        

   <div class="col-md-10">

     <ul  class="films">
        <li ng-repeat="film in films | filter:{name: query } | orderBy:orderProp" class="thumbnail">
		

      <a href="/films/{{film._id}}/detail" class="thumb"><img ng-src="{{film.imageUrl}}"></a></br></br></br>
      <span class="glyphicon glyphicon-thumbs-up"
                     ng-click="incrementUpvotes(film)">                 </span>
                     {{film.upvotes}}
           <a href="/films/{{film._id}}/detail">{{film.name}}</a>
           <p>{{film.description}}</p>
        <button ng-click="filmDelete($index)">Delete</button>
        </li>
      </ul>
    </div>
    </div>